<p>Les sources du site sont disponibles sur <a href="https://salsa.debian.org/debian-nantes-team/nantes.debian.net" target="_blank">https://salsa.debian.org/debian-nantes-team/nantes.debian.net</a></p>
